<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Ari Rusmanto, Isoh Design Studio, Warung Themes">
    <title>国家卫生信息共享技术平台-管理</title>

    <!-- BOOTSTRAP CSS (REQUIRED ALL PAGE)-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- MAIN CSS (REQUIRED ALL PAGE)-->
    <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body class="login tooltips bg-info">

    <!--
		===========================================================
		BEGIN PAGE
		===========================================================
		-->
    <div class="login-header text-center">
        <img src="/img/logo-login.png" class="logo" alt="Logo">
    </div>
    <div class="login-wrapper">
        <div id="warning-div" class="alert alert-warning alert-bold-border fade in alert-dismissable" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>警告!</strong> <span id="warning-msg"></span>.
        </div>
        <form role="form" method="post">
            <div class="form-group has-feedback lg left-feedback no-label">
                <input type="text" class="form-control no-border input-lg rounded" placeholder="登录名" name="username" autofocus required>
                <span class="fa fa-user form-control-feedback" style="top: 0px;left: -4px"></span>
            </div>
            <div class="form-group has-feedback lg left-feedback no-label">
                <input type="password" class="form-control no-border input-lg rounded" placeholder="密码" name="pwd" required autocomplete="new-password">
                <span class="fa fa-unlock-alt form-control-feedback" style="top: 0px;left: -4px"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-warning btn-lg btn-perspective btn-block">登录</button>
            </div>
        </form>
    </div>
    <!-- /.login-wrapper -->
    <!--
		===========================================================
		END PAGE
		===========================================================
		-->

    <!--
		===========================================================
		Placed at the end of the document so the pages load faster
		===========================================================
		-->
    <!-- MAIN JAVASRCIPT (REQUIRED ALL PAGE)-->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script src="/plugins/toastr/toastr.js"></script>

    <script type="text/javascript">
        $(function() {
            var msg = '<%= msg %>';
            if (msg) {
                $('#warning-div').css('display','');
                $('#warning-msg').text(msg);
            }
        })
    </script>


</body>

</html>