<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Log Blog - <%= title %></title>

    <!-- BOOTSTRAP CSS (REQUIRED ALL PAGE)-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- MAIN CSS (REQUIRED ALL PAGE)-->
    <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/plugins/magnific-popup/magnific-popup.min.css" rel="stylesheet">
    <link href="/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/plugins/toastr/toastr.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="tooltips">

<div class="wrapper">
    <!-- BEGIN TOP NAV -->
    <div class="top-navbar">
        <div class="top-navbar-inner">

            <!-- Begin Logo brand -->
            <div class="logo-brand">
                <a href="/admin"><img src="/img/logo/sentir-logo-primary.png" alt="Sentir logo"></a>
            </div><!-- /.logo-brand -->
            <!-- End Logo brand -->

            <div class="top-nav-content">

                <!-- Begin button sidebar left toggle -->
                <div class="btn-collapse-sidebar-left">
                    <i class="fa fa-bars"></i>
                </div><!-- /.btn-collapse-sidebar-left -->
                <!-- End button sidebar left toggle -->

                <!-- Begin button sidebar right toggle -->
                <div class="btn-collapse-sidebar-right">
                    <i class="fa fa-cog fa-spin"></i>
                </div><!-- /.btn-collapse-sidebar-right -->
                <!-- End button sidebar right toggle -->

                <!-- Begin user session nav -->
                <ul class="nav-user navbar-right">
                    <li class="dropdown">
                        <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/img/avatar/avatar.png" class="avatar img-circle" alt="Avatar">
                            你好，<strong></strong>
                        </a>
                        <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
                            <li>
                                <a href="#" class="account-info">个人信息</a></li>
                            <li class="divider"></li>
                            <li><a href="#">锁屏</a></li>
                            <li><a href="/admin/logout" id="logout">登出</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- End user session nav -->

                <!-- Begin Collapse menu nav -->
                <div class="collapse navbar-collapse" id="main-fixed-nav">
                    <!-- Begin nav search form -->
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                    <!-- End nav search form -->

                </div><!-- /.navbar-collapse -->
                <!-- End Collapse menu nav -->
            </div><!-- /.top-nav-content -->
        </div><!-- /.top-navbar-inner -->
    </div><!-- /.top-navbar -->
    <!-- END TOP NAV -->

    <!-- BEGIN SIDEBAR LEFT -->
    <div class="sidebar-left sidebar-nicescroller">
        <ul class="sidebar-menu">
            <li class="active">
                <a href="/admin/category" class="category">
                    <i class="fa fa-dashboard icon-sidebar"></i>分类管理
                </a>
            </li>
            <li>
                <a id="category" href="/admin/content">
                    <i class="fa fa-dashboard icon-sidebar"></i>
                    博客管理
                    <span id="category-total" class="badge badge-warning span-sidebar"></span>
                </a>
            </li>
            <li>
                <a id="images" href="/admin/images">
                    <i class="fa fa-dashboard icon-sidebar"></i>
                    图片管理
                    <span id="image-total" class="badge badge-warning span-sidebar"></span>
                </a>
            </li>
        </ul>
    </div><!-- /.sidebar-left -->
    <!-- END SIDEBAR LEFT -->

    <!-- BEGIN SIDEBAR RIGHT HEADING -->
    <div class="sidebar-right-heading">
        <ul class="nav nav-tabs square nav-justified">
            <li class="active"><a><b>选择一个主题</b></a></li>
        </ul>
    </div><!-- /.sidebar-right-heading -->
    <!-- END SIDEBAR RIGHT HEADING -->


    <!-- BEGIN SIDEBAR RIGHT -->
    <div class="sidebar-right sidebar-nicescroller">
        <div class="inner-panel row" style="margin: 10px">
            <div class="row text-center">
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Default" id="color-reset">
                        <div class="half-tiles bg-white"></div>
                        <div class="half-tiles bg-dark"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Primary dark" id="change-primary-dark">
                        <div class="quarter-tiles bg-primary"></div>
                        <div class="tigaperempat-tiles bg-dark"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Info dark" id="change-info-dark">
                        <div class="quarter-tiles bg-info"></div>
                        <div class="tigaperempat-tiles bg-dark"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Success dark" id="change-success-dark">
                        <div class="quarter-tiles bg-success"></div>
                        <div class="tigaperempat-tiles bg-dark"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Danger dark" id="change-danger-dark">
                        <div class="quarter-tiles bg-danger"></div>
                        <div class="tigaperempat-tiles bg-dark"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Warning dark" id="change-warning-dark">
                        <div class="quarter-tiles bg-warning"></div>
                        <div class="tigaperempat-tiles bg-dark"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Primary light" id="change-primary-light">
                        <div class="quarter-tiles bg-primary"></div>
                        <div class="tigaperempat-tiles bg-white"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Info light" id="change-info-light">
                        <div class="quarter-tiles bg-info"></div>
                        <div class="tigaperempat-tiles bg-white"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Success light" id="change-success-light">
                        <div class="quarter-tiles bg-success"></div>
                        <div class="tigaperempat-tiles bg-white"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Danger light" id="change-danger-light">
                        <div class="quarter-tiles bg-danger"></div>
                        <div class="tigaperempat-tiles bg-white"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Warning light" id="change-warning-light">
                        <div class="quarter-tiles bg-warning"></div>
                        <div class="tigaperempat-tiles bg-white"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Dark light" id="change-dark-light">
                        <div class="quarter-tiles bg-dark"></div>
                        <div class="tigaperempat-tiles bg-white"></div>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Nav primary light"
                         id="change-full-primary-light">
                        <div class="half-tiles bg-primary"></div>
                        <div class="half-tiles bg-white"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Nav info light" id="change-full-info-light">
                        <div class="half-tiles bg-info"></div>
                        <div class="half-tiles bg-white"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Nav success light"
                         id="change-full-success-light">
                        <div class="half-tiles bg-success"></div>
                        <div class="half-tiles bg-white"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Nav danger light" id="change-full-danger-light">
                        <div class="half-tiles bg-danger"></div>
                        <div class="half-tiles bg-white"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Nav warning light"
                         id="change-full-warning-light">
                        <div class="half-tiles bg-warning"></div>
                        <div class="half-tiles bg-white"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Nav dark light" id="change-full-dark-light">
                        <div class="half-tiles bg-dark"></div>
                        <div class="half-tiles bg-white"></div>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Sidebar primary light"
                         id="change-sidebar-primary-light">
                        <div class="half-tiles bg-white"></div>
                        <div class="half-tiles bg-primary"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Sidebar info light"
                         id="change-sidebar-info-light">
                        <div class="half-tiles bg-white"></div>
                        <div class="half-tiles bg-info"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Sidebar success light"
                         id="change-sidebar-success-light">
                        <div class="half-tiles bg-white"></div>
                        <div class="half-tiles bg-success"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Sidebar danger light"
                         id="change-sidebar-danger-light">
                        <div class="half-tiles bg-white"></div>
                        <div class="half-tiles bg-danger"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Sidebar warning light"
                         id="change-sidebar-warning-light">
                        <div class="half-tiles bg-white"></div>
                        <div class="half-tiles bg-warning"></div>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Nav primary dark" id="change-full-primary-dark">
                        <div class="half-tiles bg-primary"></div>
                        <div class="half-tiles bg-dark"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Nav info dark" id="change-full-info-dark">
                        <div class="half-tiles bg-info"></div>
                        <div class="half-tiles bg-dark"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Nav success dark" id="change-full-success-dark">
                        <div class="half-tiles bg-success"></div>
                        <div class="half-tiles bg-dark"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Nav danger dark" id="change-full-danger-dark">
                        <div class="half-tiles bg-danger"></div>
                        <div class="half-tiles bg-dark"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="nav warning dark" id="change-full-warning-dark">
                        <div class="half-tiles bg-warning"></div>
                        <div class="half-tiles bg-dark"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Light" id="change-color-light">
                        <div class="quarter-tiles bg-white"></div>
                        <div class="tigaperempat-tiles bg-white"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Full rimary" id="change-full-primary">
                        <div class="half-tiles bg-primary"></div>
                        <div class="half-tiles bg-primary"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Full info" id="change-full-info">
                        <div class="half-tiles bg-info"></div>
                        <div class="half-tiles bg-info"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Full success" id="change-full-success">
                        <div class="half-tiles bg-success"></div>
                        <div class="half-tiles bg-success"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Full danger" id="change-full-danger">
                        <div class="half-tiles bg-danger"></div>
                        <div class="half-tiles bg-danger"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Full warning" id="change-full-warning">
                        <div class="half-tiles bg-warning"></div>
                        <div class="half-tiles bg-warning"></div>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="xs-tiles" data-toggle="tooltip" title="Full dark" id="change-full-dark">
                        <div class="half-tiles bg-dark"></div>
                        <div class="half-tiles bg-dark"></div>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-block btn-primary btn-sm" id="btn-reset">重置为默认主题</button>
            </div>
        </div>

    </div><!-- /.sidebar-right -->
    <!-- END SIDEBAR RIGHT -->


    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container-fluid" id="container-fluid">

        </div><!-- /.container-fluid -->
        <!-- BEGIN FOOTER -->
        <footer>
            &copy;  <a>CHEM</a><br/>
        </footer>
        <!-- END FOOTER -->


    </div><!-- /.page-content -->
</div><!-- /.wrapper -->
<!-- END PAGE CONTENT -->


<!-- BEGIN BACK TO TOP BUTTON -->
<div id="back-top">
    <a href="#top"><i class="fa fa-chevron-up"></i></a>
</div>
<!-- END BACK TO TOP -->

<!-- MAIN JAVASRCIPT (REQUIRED ALL PAGE)-->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/plugins/retina/retina.min.js"></script>
<script src="/plugins/nicescroll/jquery.nicescroll.js"></script>
<script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/plugins/backstretch/jquery.backstretch.min.js"></script>
<script src="/plugins/summernote/summernote.js"></script>
<script src="/plugins/summernote/summernote-zh-CN.js"></script>

<!-- PLUGINS -->
<script src="/plugins/skycons/skycons.js"></script>
<script src="/plugins/prettify/prettify.js"></script>
<script src="/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/plugins/chosen/chosen.jquery.min.js"></script>
<script src="/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/plugins/timepicker/bootstrap-timepicker.js"></script>
<script src="/plugins/mask/jquery.mask.min.js"></script>
<script src="/plugins/slider/bootstrap-slider.js"></script>
<script src="/plugins/sweetalert/sweetalert.min.js"></script>
<script src="/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="/plugins/toastr/toastr.js"></script>
<script src="/plugins/plupload/plupload.full.min.js"></script>
<script src="/plugins/plupload/i18n/zh_CN.js"></script>
<script src="/plugins/icheck/icheck.min.js"></script>

<!-- MAIN APPS JS -->
<script src="/pagejs/apps.js"></script>
<script src="/pagejs/demo-panel.js"></script>
<script src="/pagejs/admin.js"></script>

<script>
    $(function() {
        var url = '<%= url %>';
        if (url) {
            $('#container-fluid').load(url);
            if (url === "/pages/my-content.html") {
                $("#category").trigger("click");
                return;
            }
            if (url === "/pages/my-images.html") {
                $("#images").trigger("click");
                return;
            }
        }
    })
</script>

</body>
</html>