<%- include /components/header.html %>

<!-- START 列表内容 -->
<div class="container-fluid" style="padding-top: 176px;" >

        <div class="the-box no-border clearfix no-margin" id="content" style="padding: 26px 15px;">
            <div class="col-xs-4 col-sm-3">
                <h3 class="root-title">
                    <%= root[0].name %>
                </h3>
                <ul class="contents-ztree ztree" id="channels-list">

                </ul>
            </div>

            <div class="col-xs-8 col-sm-9 border-left" id="content-right">
                <ol class="breadcrumb default square rsaquo sm border-bottom" style="margin-top: 10px;">
                    <li>当前位置：首页</li>
                    <% for (var i=0; i<root.length ; i++) { %>
                        <li id="<%= root[i].id %>">
                            <%= root[i].name %>
                        </li>
                        <% } %>
                        <li>
                            <%= content.title %>
                        </li>
                </ol>
                <h4 class="text-center" style="font-size: 22px;">
                    <%= content.title %>
                </h4>
                <h5 class="text-center" style="color: #9b9b9b;">发布于
                    <%= content.time %>
                        <%= content.times %>次浏览</h5>
                <div style="padding: 15px;">
                    <% if (content.content) {%>
                        <%- content.content %>
                            <% } else {%>
                                暂无内容！
                                <% }%>
                </div>
            </div>
        </div>

    </div>

    <!-- END 列表内容 -->

    <script>
        var channelTree;

        // ztree配置
        var setting = {
            view: {
                showLine: false,
                showIcon: false,
                nameIsHTML: true,
                dblClickExpand: false,
                selectedMulti: false,
                showTitle: false
            },
            data: {
                simpleData: {
                    enable: true,
                    idKey: "id",
                    pIdKey: "pid",
                    rootPId: 0
                },
                keep: {
                    parent: true
                },
                key: {
                    url: 'xUrl'
                }
            },
            callback: {
                beforeExpand: beforeExpand,
                onExpand: onExpand,
                onClick: zTreeOnClick
            }
        };

        /**
         * 树展开之前的操作
         * @param treeId
         * @param treeNode
         */
        var curExpandNode = null;

        function beforeExpand(treeId, treeNode) {

            var pNode = curExpandNode ? curExpandNode.getParentNode() : null;
            var treeNodeP = treeNode.parentTId ? treeNode.getParentNode() : null;

            for (var i = 0, l = !treeNodeP ? 0 : treeNodeP.children.length; i < l; i++) {
                if (treeNode !== treeNodeP.children[i]) {
                    channelTree.expandNode(treeNodeP.children[i], false);
                }
            }
            while (pNode) {
                if (pNode === treeNode) {
                    break;
                }
                pNode = pNode.getParentNode();
            }
            if (!pNode) {
                singlePath(treeNode);
            }

        }

        /**
         * 展开/折叠节点，树节点保持始终只展开一条路径
         * @param newNode
         */
        function singlePath(newNode) {
            if (newNode === curExpandNode) return;
            var rootNodes, tmpRoot, tmpTId, i, j, n;

            if (!curExpandNode) {
                tmpRoot = newNode;
                while (tmpRoot) {
                    tmpTId = tmpRoot.tId;
                    tmpRoot = tmpRoot.getParentNode();
                }
                rootNodes = channelTree.getNodes();
                for (i = 0, j = rootNodes.length; i < j; i++) {
                    n = rootNodes[i];
                    if (n.tId != tmpTId) {
                        channelTree.expandNode(n, false);
                    }
                }
            } else if (curExpandNode && curExpandNode.open) {
                if (newNode.parentTId === curExpandNode.parentTId) {
                    channelTree.expandNode(curExpandNode, false);
                } else {
                    var newParents = [];
                    while (newNode) {
                        newNode = newNode.getParentNode();
                        if (newNode === curExpandNode) {
                            newParents = null;
                            break;
                        } else if (newNode) {
                            newParents.push(newNode);
                        }
                    }
                    if (newParents != null) {
                        var oldNode = curExpandNode;
                        var oldParents = [];
                        while (oldNode) {
                            oldNode = oldNode.getParentNode();
                            if (oldNode) {
                                oldParents.push(oldNode);
                            }
                        }
                        if (newParents.length > 0) {
                            channelTree.expandNode(oldParents[Math.abs(oldParents.length - newParents.length) - 1], false);
                        } else {
                            channelTree.expandNode(oldParents[oldParents.length - 1], false);
                        }
                    }
                }
            }
            curExpandNode = newNode;
        }

        /**
         * 树展开时的操作
         * @param event
         * @param treeId
         * @param treeNode
         */
        function onExpand(event, treeId, treeNode) {
            curExpandNode = treeNode;
            $("#content  #content-right").css("min-height", $("#content").height() + "px");
        }

        // ztree点击事件
        function zTreeOnClick(event, treeId, treeNode) {
            // 展示当前节点
            channelTree.expandNode(treeNode, null, null, null, true);
            if (treeNode.isParent == false) {
                window.location.href = '/channels/' + treeNode.id + '/list';
            }
        }

        // 页面加载执行函数
        $(window).load(function() {
            channelTree = $.fn.zTree.init($("#channels-list"), setting, JSON.parse('<%- JSON.stringify(channels) %>'));
            var nodes = channelTree.getNodesByParam("id", '<%= cid %>', null);
            channelTree.selectNode(nodes[0]);
            $("#content  #content-right").css("min-height", $("#content").height() + "px");
            $(".btn-group-justified div").each(function(){ // 选中当前所在页面header菜单
                if($(this).attr('id') == $('.breadcrumb li').eq(1).attr('id')) {
                    $(this).find('.btn-item').focus();
                }
            });
        })
    </script>

    <%- include /components/footer.html %>