<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Log Blog - <%= title %></title>

    <!-- BOOTSTRAP CSS (REQUIRED ALL PAGE)-->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- MAIN CSS (REQUIRED ALL PAGE)-->
    <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="tooltips">

<div class="wrapper">
    <!-- BEGIN TOP NAV -->
    <div class="top-navbar dark-color">
        <div class="top-navbar-inner">
            <!-- Begin Logo brand -->
            <div class="logo-brand">
                <a href="/"><img src="img/logo/sentir-logo-primary.png" alt="Sentir logo"></a>
            </div><!-- /.logo-brand -->
            <!-- End Logo brand -->
            <div class="top-nav-content main-top-nav-layout">
                <!-- Begin button sidebar left toggle -->
                <div class="btn-collapse-main-navigation" data-toggle="collapse" data-target="#top-main-navigation">
                    <i class="fa fa-bars"></i>
                </div><!-- /.btn-collapse-sidebar-left -->
                <!-- End button sidebar left toggle -->
                <!-- Begin user session nav -->
                <ul class="nav-user navbar-right">
                    <li class="dropdown">
                        <a href="/admin/login" class="dropdown-toggle">
                            <strong>LOGIN</strong>
                        </a>
                    </li>
                </ul>
                <!-- End user session nav -->
                <!-- Begin Collapse menu nav -->
                <div class="collapse navbar-collapse" id="main-fixed-nav">
                    <!-- Begin nav search form -->
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="/index">
                                <span>博客&nbsp;&nbsp;&nbsp;</span>
                            </a>
                        </li>
                        <li>
                            <a href="/photo">
                                <span>图库&nbsp;&nbsp;&nbsp;</span>
                            </a>
                        </li>
                        <li>
                            <a href="/tool">
                                <span>小工具&nbsp;&nbsp;&nbsp;</span>
                            </a>
                        </li>
                        <li class="account-info">
                            <a href="/profile">
                                <span>个人资料&nbsp;&nbsp;&nbsp;</span>
                            </a>
                        </li>
                    </ul>
                    <!-- End nav search form -->
                </div><!-- /.navbar-collapse -->
                <!-- End Collapse menu nav -->
            </div><!-- /.top-nav-content -->
        </div><!-- /.top-navbar-inner -->
    </div><!-- /.top-navbar -->
    <!-- END TOP NAV -->

    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content no-left-sidebar">
        <div id="container-fluid" class="container-fluid">
        </div>
    </div><!-- /.page-content -->
    <footer>
        &copy; <a>CHEM</a><br/>
    </footer>
</div><!-- /.wrapper -->

<div id="back-top">
    <a href="#"><i class="fa fa-chevron-up"></i></a>
</div>

<!-- MAIN JAVASRCIPT (REQUIRED ALL PAGE)-->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="plugins/retina/retina.min.js"></script>
<script src="plugins/nicescroll/jquery.nicescroll.js"></script>
<script src="plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="plugins/backstretch/jquery.backstretch.min.js"></script>

<!-- PLUGINS -->
<script src="plugins/skycons/skycons.js"></script>
<script src="plugins/prettify/prettify.js"></script>
<script src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="plugins/chosen/chosen.jquery.min.js"></script>
<script src="plugins/icheck/icheck.min.js"></script>
<script src="plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="plugins/timepicker/bootstrap-timepicker.js"></script>
<script src="plugins/mask/jquery.mask.min.js"></script>
<script src="plugins/slider/bootstrap-slider.js"></script>
<script src="plugins/sweetalert/sweetalert.min.js"></script>
<script src="plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="plugins/toastr/toastr.js"></script>

<!-- MAIN APPS JS -->
<script src="pagejs/apps.js"></script>
<script src="pagejs/index.js"></script>
<script type="text/javascript">
    $(function() {
        var url = '<%= url %>';
        if (url) {
            $('#container-fluid').load(url);
        }
    })
</script>
</body>
</html>