<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>国家卫生信息共享技术平台-管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/favicon.ico" mce_href="/img/favicon.ico" type="image/x-icon">


    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- PLUGINS CSS -->
    <link href="/plugins/prettify/prettify.min.css" rel="stylesheet">
    <link href="/plugins/chosen/chosen.min.css" rel="stylesheet">
    <link href="/plugins/icheck/skins/all.css" rel="stylesheet">
    <link href="/plugins/validator/bootstrapValidator.min.css" rel="stylesheet">
    <link href="/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/plugins/datatable/css/bootstrap.datatable.min.css" rel="stylesheet">
    <link href="/plugins/slider/slider.min.css" rel="stylesheet">
    <link href="/plugins/toastr/toastr.css" rel="stylesheet">
    <link rel="stylesheet" href="/plugins/ztree/metroStyle.css" />

    <!--sweetalert-->
    <link href="/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <!-- MAIN CSS (REQUIRED ALL PAGE)-->
    <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            margin: 0;
        }
        
        input[type="number"] {
            -moz-appearance: textfield;
        }
    </style>
</head>