<style>
    .submenu li a:hover {
        cursor: pointer;
    }

    .submenu li span.button {
        margin-top: -7px;
    }
    
    .submenu li span.button.switch {
        width: 16px;
        height: 16px;
        position: absolute;
        right: 13px;
    }

    .submenu li span.button {
        background-image: url("plugins/ztree/img/left_menuForOutLook.png");
        *background-image: url("plugins/ztree/img/left_menuForOutLook.gif")
    }
    
    .submenu li span.button.noline_open {
        background-position: 0 0;
    }
    
    .submenu li span.button.noline_close {
        background-position: -18px 0;
    }
</style>

<body class="tooltips">

    <!--
		===========================================================
		BEGIN PAGE
		===========================================================
		-->
    <!--开始 个人信息修改modal-->
    <div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <form id="info-form" class="form-horizontal">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel1">账户修改</h4>
                    </div>
                    <div class="modal-body">
                        <!--<form id="info-form" class="form-horizontal">-->
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="info-name">用户名</label>
                            <div class="col-sm-7">
                                <input id="info-name" name="info-name" class="form-control" type="text" value="<%= user.full_name%>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="info-email">邮箱</label>
                            <div class="col-sm-7">
                                <input id="info-email" name="info-email" class="form-control no-zh-cn" type="text" value="<%= user.email%>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="info-tel">电话号码</label>
                            <div class="col-sm-7">
                                <input id="info-tel" name="info-tel" class="form-control no-zh-cn" type="text" value="<%= user.tel %>" maxlength="11">
                            </div>
                        </div>
                        <!--</form>-->
                    </div>
                    <div class="modal-footer" style="">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <!--<button type="reset" class="btn btn-warning">重置</button>-->
                        <button type="submit" class="btn btn-primary">修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--结束 个人信息修改modal-->
    <!--开始 密码修改modal-->
    <div class="modal fade" id="account-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <form id="account-form" class="form-horizontal">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel2">密码修改</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="old-pwd">原密码</label>
                            <div class="col-sm-7">
                                <input id="old-pwd" name="old-pwd" class="form-control no-zh-cn" type="password" placeholder="请输入原密码" autocomplete="new-password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="new-pwd">新密码</label>
                            <div class="col-sm-7">
                                <input id="new-pwd" name="new-pwd" class="form-control no-zh-cn" type="password" placeholder="请输入新密码" autocomplete="new-password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="confirm-pwd">确认新密码</label>
                            <div class="col-sm-7">
                                <input id="confirm-pwd" name="confirm-pwd" class="form-control no-zh-cn" type="password" placeholder="请确认新密码" autocomplete="new-password">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <!--<button type="reset" class="btn btn-warning">重置</button>-->
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--结束 密码修改modal-->
    <div class="wrapper">
        <!-- BEGIN TOP NAV -->
        <div class="top-navbar info-color">
            <div class="top-navbar-inner">

                <!-- Begin Logo brand -->
                <div class="logo-brand info-color">
                    <a href="/admin"><img src="img/sentir-logo-primary.png" style="margin: 10px 0px 10px 10px;" alt="Sentir logo"></a>
                </div>
                <!-- /.logo-brand -->
                <!-- End Logo brand -->

                <div class="top-nav-content">

                    <!-- End button sidebar left toggle -->

                    <!-- Begin user session nav -->
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#fakelink" class="dropdown-toggle" data-toggle="dropdown">
                                <strong id="top-username">你好 ,<%= user.full_name%></strong>
                            </a>
                            <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
                                <li><a data-toggle="modal" data-target="#info-modal">个人信息</a></li>
                                <li><a data-toggle="modal" data-target="#account-modal">密码修改</a></li>
                                <li class="divider"></li>
                                <li><a href="/admin/logout" id="logout">登出</a></li>
                            </ul>
                        </li>
                    </ul>

                    <!-- End user session nav -->
                </div>
                <!-- /.top-nav-content -->
            </div>
            <!-- /.top-navbar-inner -->
        </div>
        <!-- /.top-navbar -->
        <!-- END TOP NAV -->



        <!-- BEGIN SIDEBAR LEFT -->
        <div class="sidebar-left sidebar-nicescroller info-color">
            <ul class="sidebar-menu">
                <li class="active">
                    <a href="/admin">
                        <i class="fa fa-dashboard icon-sidebar"></i>栏目管理
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-desktop icon-sidebar"></i>
                        <i class="fa fa-angle-right chevron-icon-sidebar"></i> 内容管理
                    </a>
                    <ul class="submenu" id="menu-tree">

                    </ul>
                </li>
                <li class="">
                    <a href="#" onclick="renderContainer('/pages/manage.html');">
                        <i class="fa fa-users icon-sidebar"></i>客户管理
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-left -->
        <!-- END SIDEBAR LEFT -->

        <!-- BEGIN PAGE CONTENT -->
        <div class="page-content">